* {
  margin: 0;
  padding: 0;
}

form {
  text-align: center;
  width: 100%;
}
form input {
}
form button {
}

.center {
  position: absolute;
  top: +50%;
  right: +50%;
  transform: translate(+50%, -50%);
}
